html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: powderblue; 
}
h1{font-size: 3em; }
.all{
    display:grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    grid-template-areas:
    "header header header"
    "main   main   main"
    "footer footer footer";
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 2fr 5fr 1fr;
    height: 100%;
}
.header{
    grid-area: header;
    color: darkolivegreen;
}
.header ul{
    list-style: none;
}
nav{
    display:flex;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    border:1px solid black;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
}
nav ul li {
    margin-right: 20px;
    font-size: 20px;
}
nav ul li:last-child {
    margin-right: 0; 
}
nav ul ul {
    display: none; 
    position: absolute;
    background-color:beige; 
    border-radius: 4px;
}
nav ul li:hover ul{
    display: block;
}
nav ul li a {
    text-decoration: none; 
    color: darkolivegreen;
    margin:20px 20px;
}
nav ul li a:hover {
    color:black;
    background-color: aliceblue;
    border-radius: 4px;
}
nav ul ul li {
    display: block; 
}
.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    img{
        float:left;
    }
}
.main article{
    padding: 10px 10px;
    display: grid;
    margin-bottom: 10px;
}
.low-container {
    display: grid;
    border:1px solid black;
    grid-area: footer;
    margin-top: 10px;
}
.low-container ul {
    list-style-type: none; 
    display: flex;
    padding: 10px;
    flex-grow: 1; 
}
.low-container ul {
    text-decoration: none;
    text-align: left;
    margin-right: 100px;
}
.sns li{
    float:left;
    margin-left:5px;
}
.footer_menu{
    float: left;
}